.chatbot-container {
  display: flex;
  flex-direction: column;
  height: 500px; /* Điều chỉnh kích thước chatbot */
  width: 400px; /* Điều chỉnh kích thước chatbot */
  max-width: 100%;
  position: fixed; /* Cố định vị trí chatbot */
  bottom: 20px; /* Khoảng cách từ đáy trang */
  right: 20px; /* Khoảng cách từ bên phải trang */ 
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Bo góc chatbot */
  z-index: 9999; /* Đảm bảo chatbot nằm trên các phần tử khác */
}

.chatbot-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007aff;
  color: white;
  padding: 20px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.open-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007aff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.chatbot-header h2 {
  margin: 0;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.message {
  display: flex;
  margin-bottom: 10px;
}

.message.me {
  justify-content: flex-end;
}

.message-bubble {
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 70%;
  font-size: 14px;
  line-height: 1.4;
}

.message-bubble.me {
  background-color: #007aff;
  color: white;
  align-self: flex-end;
}

.message-bubble.bot {
  background-color: #f1f0f0;
  color: #333;
  align-self: flex-start;
}

.input-container {
  display: flex;
  padding: 20px;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

.message-input {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  margin-right: 10px;
  outline: none;
}

.send-button {
  background-color: #007aff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.send-button:hover {
  background-color: #0056b3;
}